__pycache__/
*.pyc
.venv/
venv/
env/

# Environment/secrets
.env

# IDE
.vscode/
.idea/

# Specific directories
conversion/heic/
conversion/png/
Mango-Detection-4/
Mango-Detection-5/
CNN_RESULT/pipeline_outputs/
CNN_RESULT/split_dataset/
CNN_RESULT/convertion/heic/
CNN_RESULT/convertion/png/
